<%- include("../../../partials/header.ejs") %>
<%- include("../../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <h2>Tipos de marcas</h2>
    <a class="btn btn-success" href="/parts/compativel/cadastrar">Cadastrar novo tipo de peça</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% compatibilityPart.forEach(compatibilityPart => { %>
                <tr>
                    <th><%= compatibilityPart.id %></th>
                    <th><%= compatibilityPart.name %></th>
                    <th>
                        <a href="/parts/compativel/editar/<%= compatibilityPart.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/parts/compativel/deletar" style="display:inline" onsubmit="fnConfirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= compatibilityPart.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>


<%- include("../../../partials/footer.ejs") %>
<script>
    function fnConfirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esse cadastro? Isso irá apagar todas peças vinculadas a ela");
        if(decision){
            form.submit();
        }        
    }
</script>